*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.name h1 {
    font-family: Pacifico;
    font-size: 50px;
    color:antiquewhite;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #723A20;
}

.hero-content{
    background-image: url(home-banner.jpg);
    background-position: center;
    background-attachment: fixed;
    padding: 240px 0;
    margin: 0 50px;
}

.hero-content h1{

    font-size: 70px;
    color: #000;;
    margin: 100px;
}

header{

    position: fixed; 
    top: 0; 
    width: 100%; 
}

.banner{

    background-color: #D9A964;
    text-align: center;
}

nav a {
    float: right;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    color:antiquewhite;
    padding: 36px 15px;
}

nav a:hover{
    color:#D9A964;
}

.homepg{
    border-bottom: #723A20;
    border-width: 20px;
    border-style: double;
    padding: 40px;
    margin: 70px;
}
.homepg h2{
    font-size: 50px;
    text-align: center;
    color:#723A20;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 30px;
}

.homepg h3{
    font-size: 30px;
    text-align: center;
    color:#D9A964;
}

.pic1 {
    display: flex;
}

.text1{
    padding: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    border-width:20px;
    border-style:double;
    border-color:#723A20;
    margin: 100px;
       
}

.pic1 img{
    width: 400px;
    height: 500px;
    margin: 90px;
}


/*@media screen and (min-width:425px){


    .pic1 {
        display: inline;
    }

}*/