*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.name h1 {
    font-family: Pacifico;
    font-size: 50px;
    font-weight: 100;
    color:#E9DCDC;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #723A20;
}

.hero-content{
    background-image: url(home-banner.jpg);
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
    margin: 0 50px;
}

.hero-content h1{

    font-size: 70px;
    color: #000;;
    margin: 100px;
    font-family:Pacifico;
    font-weight: 200;
}

header{

    top: 0; 
    width: 100%; 
}

.banner{

    background-color: #D9A964;
    text-align: center;
}

nav a {
    float: right;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    color:#E9DCDC;
    padding: 36px 15px;
}

nav a:hover{
    color:#D9A964;
}

.homepg{
    border-bottom:15px double #723A20;
    padding-bottom: 30px;
    margin: 100px;
}

.homepg h2{
    font-size: 70px;
    font-family: Pacifico;
    font-weight: 500;
    text-align: center;
    color:#723A20;
}

.homepg h3{
    font-size: 30px;
    text-align: center;
    color:#D9A964;
    padding-bottom: 30px;
}

.homepg p{
    font-size: 20px;
    color:#723A20;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
}

.sect1 {
    display: flex;
    padding: 70px;
}

.sect1 h3{
    text-align: center;
    font-size: 30px;
    font-family: Pacifico;
    font-weight: 100;
    color: #723A20;
}

.sect1 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:#D9A964;
}

.text1{
    text-align: center;
    font-size: 35px;
    color: #723A20;
}

.pic1 img{
    width: 400px;
    height: 400px;
}

.pic2 img{
    width: 400px;
    height: 400px;
    margin-right: 90px;
    margin-left: 90px;
}

.pic2 p{
    padding-right: 90px;
    padding-left: 90px;
}

.pic3 img{
    width: 400px;
    height: 400px;
}

footer {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #723A20;
    font-family: Pacifico;
    padding: 30px;
}

footer .nav img{
    width: 50px;
    height: 50px;
}

.abt h2{
    font-family: Pacifico;
    color:black;
}

.bottom{
    text-align: center;
    padding-left: 350px;
}

.socials {
    font-size: 40px;
    padding: 20px;
}

.socials h3{
    color: #E9DCDC;
    font-size: 30px;
    font-weight: 50;
    text-align: center;
}

.socials ul{
    display: flex;
    justify-content: center;
}

.socials ul li{
    padding: 10px;
    list-style-type: none;
}

.socials ul li a{
    color:#E9DCDC;
}

.socials ul li a:hover{
    color:#D9A964;
}

.socials p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #E9DCDC;
}

.opening{
    color: #E9DCDC;
    padding: 30px;
}

.opening h3{
    font-size: 30px;
    font-weight: 10;
    text-align: center;
}

.opening ul{
    list-style-type: none;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about img{
    height:500px;
    width: 1100px;
    margin-left: 220px;
    margin-bottom: 30px;
}

.about p{
    color: #723A20;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 30px;
}

.contact p{
    color: #723A20;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 30px;
}
/*@media screen and (min-width:425px){


    .pic1 {
        display: inline;
    }

}*/